body
{
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.welcome__text
{
    position: absolute;
    color: aliceblue;
    top: 40%;
    text-align: center;
    width: 100%;
    line-height: 3em;
}
.welcome__text h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}
.welcome__text .element
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
.type
{
    color: #A8C7BB;
}
@media only screen and (max-width: 600px) {
    .welcome-text{
        position: absolute;
        color: aliceblue;
        top: 20%;
        text-align: center;
        width: 100%;
        line-height: 2em;
    }
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
    }
    .element
    {
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
    }
  }